<!DOCTYPE html>
<html lang="en">
<head>
<meta name="author" content="">
<meta name="description" content="">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DOBLERAMA</title>

<!--  favicon -->
<link rel="shortcut icon" href="assets/img/favicon.png">
<!--  Google-Fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>
<!-- Material Icons CSS -->
<link href="assets/fonts/iconfont/material-icons.css" rel="stylesheet">
<!-- FontAwesome CSS -->
<link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- Material iconic font CSS -->
<link href="assets/fonts/iconic-font/material-design-iconic-font.min.css" rel="stylesheet">
<!-- Futura Webfont CSS -->
<link href="assets/fonts/futura/futura_lt_webfont.css" rel="stylesheet">
<!-- magnific-popup -->
<link href="assets/magnific-popup/magnific-popup.css" rel="stylesheet">
<!-- owl.carousel -->
<link href="assets/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
<link href="assets/owl.carousel/assets/owl.theme.default.min.css" rel="stylesheet">
<!-- flexslider -->
<link href="assets/flexSlider/flexslider.css" rel="stylesheet">
<!-- animated-headline -->
<link href="assets/css/animated-headline.css" rel="stylesheet">
<!-- materialize -->
<link href="assets/materialize/css/materialize.min.css" rel="stylesheet">
<!-- Bootstrap -->
<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- shortcodes -->
<link href="assets/css/shortcodes.css" rel="stylesheet">
<!-- Style CSS -->
<link href="assets/css/stylesheet.css" rel="stylesheet">



<!-- RS5.0 Main Stylesheet -->
<link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css">
<!-- RS5.0 Layers and Navigation Styles -->
<link rel="stylesheet" type="text/css" href="assets/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="assets/revolution/css/navigation.css">


<link href="css/estilos.css" rel="stylesheet">
</head>

<body id="top" class="has-header-search">
<!-- Top bar -->
<div class="top-bar light-blue">
  <div class="container">
    <div class="row"> 
      <!-- Social Icon -->
      <div class="col-md-4"> 
        <!-- Social Icon -->
        <ul class="list-inline social-top tt-animate btt">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube-play" ></i></a></li>

          
          
        </ul>
      </div>
      <div class="col-md-8 text-right">
        <ul class="topbar-cta no-margin">
          <li><i class="material-icons mr-10">&#xE0B9;</i><a class="mailto:demo@example.com">contacto@doblerama.com</a></li>
          <li><i class="material-icons mr-10">&#xE0CD;</i><a href="#">(01) 724-3110</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /.top-bar --> 
<!--header start-->
<header id="header" class="tt-nav nav-border-bottom">
  <div class="header-sticky light-header">
    <div class="container">
      
      <div id="header-menu" class="menuzord"> 
        <a href="index.html" class="logo-brand"> 
          <!--
        <img class="retina" src="assets/img/logo.png" alt=""/> 
      --><img class="retina" src="imagenes/logo1.png" alt=""/> 
      </a>
        <ul class="menuzord-menu pull-right">
          <li class="active"><a href="javascript:void(0)">Inicio</a>
            <!--
            <ul class="dropdown">
              <li><a href="index.html"><i class="fa fa-angle-double-right"></i> Home Page 1</a></li>
              <li><a href="index-2.html"><i class="fa fa-angle-double-right"></i> Home Page 2</a></li>
              <li><a href="index-3.html"><i class="fa fa-angle-double-right"></i> Home Page 3</a></li>
              <li><a href="index-4.html"><i class="fa fa-angle-double-right"></i> Home Page 4</a></li>
              <li class="active"><a href="index-5.html"><i class="fa fa-angle-double-right"></i> Home Page 5</a></li>
            </ul>
          -->
          </li>
          <li><a href="javascript:void(0)">Nosotros</a>
            <!--
            <ul class="dropdown">
              <li><a href="about-us.html"><i class="fa fa-angle-double-right"></i> About Us 1</a></li>
              <li><a href="about-us-2.html"><i class="fa fa-angle-double-right"></i> About Us 2</a></li>
            </ul>
          -->
          </li>
          

          <li><a href="javascript:void(0)">Productos</a>
            <ul class="dropdown">
              <li><a href="#"><i class="fa fa-caret-right"></i> Purificadores</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i> Velas</a></li>
              <li class="active" ><a href="#"><i class="fa fa-caret-right"></i> Accesorios</a></li>
              <li ><a href="#"><i class="fa fa-caret-right"></i> Repuestos</a></li>
            </ul>
          </li>

           <li><a href="javascript:void(0)">Sucursales</a>
            
          </li>

          <li><a href="javascript:void(0)">Preguntas Frecuentes</a>
            
          </li> 
          
           <li><a href="javascript:void(0)">Blog</a>
            
          </li>
          
          <li><a href="javascript:void(0)">Contacto</a>
            
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!--header end--> 

<!-- start revolution slider 5.0 -->
<section class="rev_slider_wrapper">
  <div class="rev_slider un-material-slider">
    <ul>
      <li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="imagenes/banners/1.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Material" data-description=""> <img src="imagenes/banners/1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina> 
        
        <!-- LAYER NR. 1 -->
        <div class="tp-caption rev-heading text-extrabold dark-text tp-resizeme"
			data-x="center"
			data-y="center" data-voffset="-50" 
			data-fontsize="['80','60','60','35']"
			data-lineheight="['80','60','60','40']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
			data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;" 
			data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
			data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
			data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
			data-start="800" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on"
			style="z-index: 5; white-space: nowrap; text-transform:uppercase;"></div>
        
        <!-- LAYER NR. 2 -->
        <div class="tp-caption tp-resizeme rev-subheading  dark-text text-center"
			data-x="center"
			data-y="center" data-voffset="30"
			data-fontsize="['22','22','22','16']"
			data-lineheight="['30','30','30','26']"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
			data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;" 
			data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
			data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
			data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
			data-start="1000" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on"
			style="z-index: 6; white-space: nowrap;"></div>
        
        <!-- LAYER NR. 3 -->
        <div class="tp-caption tp-resizeme rev-btn"
			data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			data-y="['middle','middle','middle','middle']" data-voffset="['130','130','130','130']" 
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
			data-style_hover="cursor:default;"
			data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;" 
			data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
			data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
			data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
			data-start="1200" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on"
			style="z-index: 7; white-space: nowrap;"> <a href="#" class="btn waves-effect waves-light">Ver Más</a> </div>
      </li>
      <!-- slide 1 end --> 
      
      <!-- slide 2 start -->
      <li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="imagenes/banners/2.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Unique Design" data-description=""> 
        
        <!-- MAIN IMAGE --> 
        <img src="imagenes/banners/2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina> 
        
        <!-- LAYER NR. 1 -->
        <div class="tp-caption rev-heading text-extrabold dark-text tp-resizeme"
			data-x="center"
			data-y="center" data-voffset="-50" 
			data-fontsize="['80','60','60','40']"
			data-lineheight="['80','60','60','44']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
			data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;" 
			data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
			data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
			data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
			data-start="800" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on"
			style="z-index: 5; white-space: nowrap; text-transform:uppercase;"></div>
        
        <!-- LAYER NR. 2 -->
        <div class="tp-caption tp-resizeme rev-subheading dark-text text-center"
			data-x="center"
			data-y="center" data-voffset="30"
			data-fontsize="['22','22','22','16']"
			data-lineheight="['30','30','30','26']"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
			data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;" 
			data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
			data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
			data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
			data-start="1000" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on"
			style="z-index: 6; white-space: nowrap;"></div>
        
        <!-- LAYER NR. 3 -->
        <div class="tp-caption tp-resizeme rev-btn"
			data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			data-y="['middle','middle','middle','middle']" data-voffset="['130','130','130','130']" 
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
			data-style_hover="cursor:default;"
			data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;" 
			data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
			data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
			data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
			data-start="1200" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on"
			style="z-index: 7; white-space: nowrap;"> <a href="#" class="btn waves-effect waves-light">Ver Más</a> </div>
      </li>
      <!-- slide 2 end -->
      
    </ul>
  </div>
</section>
<!-- end of slider wrapper -->

<section class="feature_area">
  <div class="container">
    <div class="row fix_m">
      <div class="col-xs-12 col-sm-6 col-md-3 fix_p">
        <div class="single_feature text-center"> <i class="fa fa-square" aria-hidden="true"></i>
          <h4>PURIFICADORES</h4>
          <div class="single_cap">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore,</p>
            <a class="th_bt btn waves-effect" href="#!">Ver Más</a> </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 fix_p">
        <div class="single_feature text-center"> <i class="fa fa-filter" aria-hidden="true"></i>
          <h4>VELAS</h4>
          <div class="single_cap">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore,</p>
            <a class="th_bt btn waves-effect" href="#!">Ver Más</a> </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 fix_p">
        <div class="single_feature text-center"> <i class="fa fa-th-list" aria-hidden="true"></i>
          <h4>ACCESORIOS</h4>
          <div class="single_cap">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore,</p>
            <a class="th_bt btn waves-effect" href="#!">Ver Más</a> </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 fix_p">
        <div class="single_feature text-center"> <i class="fa fa-cogs" aria-hidden="true"></i>
          <!--<i class="fa fa-tint" aria-hidden="true"></i>-->
          <h4>REPUESTOS</h4>
          <div class="single_cap">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore,</p>
            <a class="th_bt btn waves-effect" href="#!">Ver Más</a> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="text-center mb-80">
      <h2 class="section-title text-uppercase"> BIENVENIDOS DOBLE RAMA</h2>
      <p class="section-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
    <div class="vertical-tab">
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-tabs nav-stacked" role="tablist">
            <li role="presentation" class="active"><a href="#tab-5" class="waves-effect waves-light" role="tab" data-toggle="tab">Purificadores</a></li>
            <li role="presentation"><a href="#tab-6" class="waves-effect waves-light" role="tab" data-toggle="tab">Velas</a></li>
            <li role="presentation"><a href="#tab-7" class="waves-effect waves-light" role="tab" data-toggle="tab">Accesorios</a></li>
            <li role="presentation"><a href="#tab-8" class="waves-effect waves-light" role="tab" data-toggle="tab">Repuestos</a></li>
            <li role="presentation"><a href="#tab-9" class="waves-effect waves-light" role="tab" data-toggle="tab">Otros</a></li>
          </ul>
        </div>
        <div class="col-sm-12">
          <div class="panel-body">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="tab-5">
                <h2>Purificadores</h2>
                


                            <div class="row equal-height-row icon_box2_hex">
                                    <div class="col-md-4 col-sm-6 mb-30">
                                      <div class="featured-item border-box brand-hover equal-height-column">
                                        
                                          <img src="imagenes/productos/1.png">
                                        
                                          <div class="desc">
                                            <h2>We are Awesome</h2>
                                           
                                            <p>Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor incididunt .</p>
                                        
                                            <a href="#" class="btn blue waves-effect mt-20">Leer Más</a> 
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-30">
                                      <div class="featured-item border-box brand-hover equal-height-column">
                                        <img src="imagenes/productos/2.png">
                                        <div class="desc">
                                          <h2>We are Creative</h2>
                                          <p>Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor incididunt .</p>
                                        
                                            <a href="#" class="btn blue waves-effect mt-20">Leer Más</a> 
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-30">
                                      <div class="featured-item border-box brand-hover equal-height-column">
                                        <img src="imagenes/productos/3.png">
                                        <div class="desc">
                                          <h2>We are Taltented</h2>
                                         <p>Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor incididunt .</p>
                                        
                                            <a href="#" class="btn blue waves-effect mt-20">Leer Más</a> 
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                      <div class="featured-item border-box brand-hover equal-height-column">
                                         <img src="imagenes/productos/4.png">
                                        <div class="desc">
                                          <h2>We are Designer</h2>
                                          <p>Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor incididunt .</p>
                                        
                                            <a href="#" class="btn blue waves-effect mt-20">Leer Más</a> 
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                      <div class="featured-item border-box brand-hover equal-height-column">
                                        <img src="imagenes/productos/5.png">
                                        <div class="desc">
                                          <h2>We are Taltented</h2>
                                         <p>Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor incididunt .</p>
                                        
                                            <a href="#" class="btn blue waves-effect mt-20">Leer Más</a> 
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                      <div class="featured-item border-box brand-hover equal-height-column">
                                        <img src="imagenes/productos/6.png">
                                        <div class="desc">
                                          <h2>We are Secured</h2>
                                         <p>Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor incididunt .</p>
                                        
                                            <a href="#" class="btn blue waves-effect mt-20">Leer Más</a> 
                                          </div>
                                      </div>
                                    </div>
                            </div>





              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab-6">
                <h2>Velas</h2>
                <img class="alignright" src="assets/img/busy_man.png" alt="">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
                  <br>
                  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.It was popularised in the 1960s with the release of Letraset sheets containing. It has survived not only five centuries, but also the leap into electronic typesetting, It was popularised in the 1960s with the release of Letraset sheets containing.</p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab-7">
                <h2>Accesorios</h2>
                <img class="alignright" src="assets/img/mission.png" alt="">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
                  <br>
                  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.It was popularised in the 1960s with the release of Letraset sheets containing. It has survived not only five centuries, but also the leap into electronic typesetting, It was popularised in the 1960s with the release of Letraset sheets containing.</p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab-8">
                <h2>Repuestos</h2>
                <img class="alignright" src="assets/img/business.png" alt="">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
                  <br>
                  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.It was popularised in the 1960s with the release of Letraset sheets containing. It has survived not only five centuries, but also the leap into electronic typesetting, It was popularised in the 1960s with the release of Letraset sheets containing.</p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab-9">
                <h2>Otros</h2>
                <img class="alignright mt-20" src="assets/img/data.png" alt="">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
                  <br>
                  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.It was popularised in the 1960s with the release of Letraset sheets containing. It has survived not only five centuries, but also the leap into electronic typesetting, It was popularised in the 1960s with the release of Letraset sheets containing.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="parallax-bg testimonial-block-bg bg-fixed overlay dark-9 padding-top-100 padding-bottom-80 ">
  <div class="container">
    <div class="text-center mb-50">
      <h2 class="section-title white-text text-uppercase">Testimonios</h2>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="quote-carousel text-center">
          <div class="carousel-item">
            <div class="content">
              <div class="circle-thumb-list-img"><img src="assets/img/client-thumb/1.png" alt=""></div>
              <h2 class="white-text line-height-40">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled"</h2>
              <div class="testimonial-meta font-20 white-text">Juan Carlos Sandoval</div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="content">
              <div class="circle-thumb-list-img"><img src="assets/img/client-thumb/2.png" alt=""></div>
              <h2 class="white-text line-height-40">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled"</h2>
              <div class="testimonial-meta font-20 white-text">Steve Jobs</div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="content">
              <div class="circle-thumb-list-img"><img src="assets/img/client-thumb/3.png" alt=""></div>
              <h2 class="white-text line-height-40">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled"</h2>
              <div class="testimonial-meta font-20 white-text">Luis Ramirez</div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="content">
              <div class="circle-thumb-list-img"><img src="assets/img/client-thumb/4.png" alt=""></div>
              <h2 class="white-text line-height-40">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled"</h2>
              <div class="testimonial-meta font-20 white-text">Jose Carranza</div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="content">
              <div class="circle-thumb-list-img"><img src="assets/img/client-thumb/5.png" alt=""></div>
              <h2 class="white-text line-height-40">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled"</h2>
              <div class="testimonial-meta font-20 white-text">Victor Carrión</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="text-center mb-80">
      <h2 class="section-title text-uppercase">Clientes</h2>
      <p class="section-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
    <div class="clients-grid grid-gutter">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="border-box"> <a href="#"> <img src="assets/img/client-logo/01.png" alt="clients"> </a> </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="border-box"> <a href="#"> <img src="assets/img/client-logo/02.png" alt="clients"> </a> </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="border-box"> <a href="#"> <img src="assets/img/client-logo/03.png" alt="clients"> </a> </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="border-box"> <a href="#"> <img src="assets/img/client-logo/04.png" alt="clients"> </a> </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="border-box"> <a href="#"> <img src="assets/img/client-logo/05.png" alt="clients"> </a> </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="border-box"> <a href="#"> <img src="assets/img/client-logo/06.png" alt="clients"> </a> </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="border-box"> <a href="#"> <img src="assets/img/client-logo/07.png" alt="clients"> </a> </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="border-box"> <a href="#"> <img src="assets/img/client-logo/08.png" alt="clients"> </a> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="promo-box brand-bg ptb-30 purchase-block-bg">
  <div class="container">
    <div class="col-md-12 promo-box-block">
      <div class="promo-info">
        <h2 class="font-24 white-text text-bold text-uppercase no-margin">Para mayor información sobre nuestros productos</h2>
        <!--<span class="white-text text-uppercase">Lorem ipsum dolor sit amet, consectetur adipisicing</span> -->
      </div>
      <div class="promo-btn"> <a href="#" class="btn white waves-effect waves-grey">Clic Aquí</a> </div>
    </div>
  </div>
</div>
<!--footer start -->
<footer class="footer footer-one footer_area">
  <div class="primary-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 widget clearfix">
          <h2 class="white-text">Nosotros</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
          <h2 class="white-text">Social Media</h2>
          <ul class="social-link tt-animate ltr">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
           <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>			
          </ul>
        </div>
        <div class="col-md-4 widget">
          <h2 class="white-text">Mapa Web</h2>
          <ul class="footer-list">
            <li><a href="#l"><i class="fa fa-angle-double-right"></i> Inicio</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Nosotros</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Productos</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Sucursales</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-4 widget">
          <h2 class="white-text">Boletín</h2>
          <form>
            <div class="form-group clearfix">
              <input type="email" class="form-control" id="subscribe" placeholder="Ingrese su email">
              <button type="submit" class="tt-animate ltr"><i class="fa fa-long-arrow-right"></i></button>
            </div>
          </form>
          <div class="widget-tags">
            <h2 class="white-text">Datos de contacto</h2>
            <a href="javascript:void(0);">Tel. (01) 458-5874</a> <a href="javascript:void(0);">WhatsApp: 985478897</a> 
            <a href="javascript:void(0);">Dirección: La Mar 471 - Magdalena - Lima - Perú</a>  </div>
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-footer">
    <div class="container"> <span class="copy-text">Copyright © 2016 Todos los derechos reservados.</span> </div>
  </div>
</footer>
<div id="preloader">
  <div class="preloader-position"> <img src="imagenes/loading_circle.gif" alt="logo" ></div>
</div>
<div class="scrollup"><i class="material-icons topup">&#xE316;</i></div>
<!-- jQuery --> 
<script src="assets/js/jquery-2.1.3.min.js"></script> 
<script src="assets/bootstrap/js/bootstrap.min.js"></script> 
<script src="assets/materialize/js/materialize.min.js"></script> 
<script src="assets/js/menuzord.js"></script> 
<script src="assets/js/bootstrap-tabcollapse.min.js"></script> 
<script src="assets/js/animated-headline.js"></script> 
<script src="assets/js/jquery.easing.min.js"></script> 
<script src="assets/js/jquery.sticky.min.js"></script> 
<script src="assets/js/smoothscroll.min.js"></script> 
<script src="assets/js/imagesloaded.js"></script> 
<script src="assets/js/jquery.stellar.min.js"></script> 
<script src="assets/js/jquery.inview.min.js"></script> 
<script src="assets/js/jquery.shuffle.min.js"></script> 
<script src="assets/owl.carousel/owl.carousel.min.js"></script> 
<script src="assets/flexSlider/jquery.flexslider-min.js"></script> 
<script src="assets/magnific-popup/jquery.magnific-popup.min.js"></script> 
<script src="assets/js/scripts.js"></script> 
<script>
$('.chart-skill-wrapper').on('inview', function(event, visible, visiblePartX, visiblePartY) {
  if (visible) {
	  $('.chart').easyPieChart({
		  //your configuration goes here
		  easing: 'easeOut',
		  delay: 3000,
		  barColor:'#03A9F4',
		  trackColor:'rgba(238,238,238,0.8)',
		  scaleColor: false,
		  lineWidth: 15,
		  size: 150,
		  animate: 2000,
		  onStep: function(from, to, percent) {
			  this.el.children[0].innerHTML = Math.round(percent);
		  }

	  });
	  $(this).off('inview');
  }
});
</script> 

<!-- RS5.0 Core JS Files --> 
<script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script> 
<script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script> 

<!-- RS5.0 Init  --> 
<script type="text/javascript">
jQuery(document).on('ready',function() {
jQuery(".un-material-slider").revolution({
	sliderType:"standard",
	sliderLayout:"fullscreen",
	delay:7000,
	navigation: {
		keyboardNavigation: "on",
		keyboard_direction: "horizontal",
		mouseScrollNavigation: "off",
		onHoverStop: "on",
		touch: {
			touchenabled: "on",
			swipe_threshold: 75,
			swipe_min_touches: 1,
			swipe_direction: "horizontal",
			drag_block_vertical: false
		},
		arrows: {
			style: "gyges",
			enable: true,
			hide_onmobile: false,
			hide_onleave: true,
			tmp: '',
			left: {
				h_align: "left",
				v_align: "center",
				h_offset: 10,
				v_offset: 0
			},
			right: {
				h_align: "right",
				v_align: "center",
				h_offset: 10,
				v_offset: 0
			}
		}
	},
	responsiveLevels:[1240,1024,778,480],
	gridwidth:[1240,1024,778,480],
	gridheight:[700,600,500,500],
	disableProgressBar:"on",
	parallax: {
		type:"mouse",
		origo:"slidercenter",
		speed:2000,
		levels:[2,3,4,5,6,7,12,16,10,50],
	}

});
});
</script> 
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script> 
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script> 
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
</body>
</html>